.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  justify-items: center;
  align-items: center;

}

ul {
  list-style-type: none;
margin: 7px 5px;
padding: 10px;
display: flex;
flex-wrap: wrap;
}

li {
  margin: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
